<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <style type="text/css">

    </style>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/report.css">
</head>
<body>

<div class="container test">
    <div class="container">
    <div class="report-title">
        <img src="/images/report-icons/jas_logo_knockout-01.png">
         <!-- <p>Market Information Center</p> -->
    </div>
</div>

<div class="report-start">
    <div class="container">
        <div class="col-md-8 buyer-info">
            <div class="buyer-text">                
                <h1><small>Buyer</small></br><%=buyer_info.bu_buyer.bu_buyer_name%></h1>
            </div>          
        </div>
            <div class="col-md-4">

            <table class="table table-bordered">
                <tbody>
                    <tr>
                    <td>Attn:</td>
                    <td><%=buyer_info.bu_buyer.bu_email%></td>
                    </tr>
                    <tr>
                    <td>Rep:</td>
                    <td><%=us_user.us_user_first_name%> <%=us_user.us_user_last_name%></td>
                    </tr>
                    <tr>
                    <td>Date:</td>
                    <td><%= report_date %></td>
                    </tr>
                    <tr>
                    <td>Subject:</td>
                    <td><%=buyer_info.de_quantity%> <%=buyer_info.un_price_unit.un_unit_name%> of <%=buyer_info.cr_crop.cr_crop_name%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end of report head -->

<div class="report-summary">
    <div class="container">
        <div class="row">
        <div class="col-md-2">
                <div class="media">
                    <div class="media-left">
                        <img height="50px" width="50px" src="/images/report-icons/icons_crop.svg">                       
                </div>
                    <div class="media-body">
                         <p><strong><%=buyer_info.cr_crop.cr_crop_name%></strong><br>Produce</p> 
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="media">
                    <div class="media-left">
                        <img height="50px" width="50px" src="/images/report-icons/icons_variety.svg">                        
                </div>
                    <div class="media-body">
                         <p><strong><%=buyer_info.cr_crop.cr_crop_variety%></strong><br>Variety</p> 
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img height="50px" width="50px" src="/images/report-icons/icons_amount.svg"> 
                        </a>
                </div>
                    <div class="media-body">
                        <p><strong><%=buyer_info.de_quantity%>lbs</strong><br>Demand</p>  
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img height="50px" width="50px" src="/images/report-icons/icons_total_supply.svg"> 
                        </a>
                </div>
                    <div class="media-body">
                        <p><strong><%=supply_amount%>lbs</strong><br>Total Supply</p>  
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img height="50px" width="40px" src="/images/report-icons/icons_prince.svg"> 
                        </a>
                </div>
                    <div class="media-body">
                        <p><strong>$<%=supply_value%></strong><br>Total Value</p>  
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<% for(var i=0;i<commodities.length;i++) { %>
<div class="farmer-section">
    <div class="container">
        <!-- <div class="row farmer"> -->
            <div class="col-md-8 farmer">
            <p>
            <strong><%= commodities[i].fa_farmer.fa_first_name%> <%=commodities[i].fa_farmer.fa_last_name %> </strong>
            <br> <small>Farmer</small></p> 
            </div>
            <div class="col-md-4 date-available">
                <div class="row">
                    <div class="col-md-6">
                        <div class="media">
                            <div class="media-left media-top">
                                <img height="30px" width="30px" src="/images/report-icons/icons_date_posted.svg"> 
                            </div>
                            <div class="media-body">
                                <p><%= crop_dates[0] %><br>Available</p>
                            </div>                          
                        </div>                  
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <div class="media-left media-top">
                                <img height="30px" width="30px" src="/images/report-icons/icons_date_posted.svg"> 
                            </div>
                            <div class="media-body">
                                <p><%= crop_dates[1] %><br>Expires</p>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="details">
    <div class="container">
        <div class="row">
            <div class="col-md-2 det">
                <div class="media">
                    <div class="media-left media-top">
                    <img height="30px" width="30px" src="/images/report-icons/icons_amount.svg">
                    </div>
                    <div class="media-body">
                        <p><strong><%=commodities[i].co_quantity %> lbs</strong><br>Amount</p>
                    </div>
                </div>

                    <div class="media">
                    <div class="media-left media-top">
                    <img height="30px" width="30px" src="/images/report-icons/icons_prince.svg">
                    </div>
                    <div class="media-body">
                        <p><strong>$
                        <%= prices[i]%></strong><br>Total Price</p>
                    </div>
                </div>

                    <div class="media">
                    <div class="media-left media-top">
                    <img height="30px" width="30px" src="/images/report-icons/icons_unit_price.svg">
                    </div>
                    <div class="media-body">
                         <p><strong>$<%=commodities[i].co_price %>/lb</strong><br>Unit Price</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 det">
                <div class="row">
                    <div class="col-md-6">
                    <div class="media">
                    <div class="media-left media-top">
                    <img height="30px" width="30px" src="/images/report-icons/icons_address_pin.svg">
                    </div>
                    <div class="media-body">
                        <% if(commodities[i].fa_farmer.fa_address){ %>
                                   <p></p>
                                 <% } else{ %>  
                                   <p>N/A</p>
                                <% } %>  
                    </div>
                </div>
                    </div>
                    <div class="col-md-6">
                            <div class="media">
                            <div class="media-left media-top">
                            <img height="30px" width="30px" src="/images/report-icons/icons_phone.svg">
                            </div>
                            <div class="media-body">
                                <% if(commodities[i].fa_farmer.fa_contact){ %>
                                   <p><strong><%=commodities[i].fa_farmer.fa_contact%></strong><br>
                                       Personal</p>
                                 <% } else{ %>  
                                   <p>N/A<br>Mobile</p>
                                <% } %>  
                            </div>
                        </div>

                            <div class="media">
                            <div class="media-left media-top">
                            <img height="30px" width="30px" src="/images/report-icons/icons_phone.svg">
                            </div>
                            <div class="media-body">
                                <% if(commodities[i].fa_farmer.fa_contact2){ %>
                                   <p><br>Personal</p>
                                 <% } else{ %>  
                                   <p>N/A<br>Mobile</p>
                                <% } %>  
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="media">
                            <div class="media-left media-top">
                                <img height="30px" width="30px" src="/images/report-icons/icons_email_address.svg">
                            </div>
                            <div class="media-body">
                                <% if(commodities[i].fa_farmer.fa_email){ %>
                                   <p><br>Personal</p>
                                 <% } else{ %>  
                                   <p>N/A<br>Personal</p>
                                <% } %>                               
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
                <div class="col-md-4">
                <p>Notes</p>
                <% if(commodities[i].ct_comments){ %>
                    <p><strong><%= commodities[i].co_notes%></strong></p>
                <% } else{ %>  
                     <p>N/A</p>
              <% } %>  
                </div>
            </div>
            
        </div>
    </div>
<% } %>
</div>
</body> 
</html>